body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

h1{
    font-size: 56px;
    font-weight: 700;
    color:#75B79E;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}